$font-stack-sans: Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-stack-serif: "Roboto Slab", Georgia, "Times New Roman", serif
$font-stack-mono: Inconsolata, Monaco, Consolas, "Courier New", monospace

$font-weight: 400
$line-height: 1.5

$color-text: #fff
$color-bg: color(lightgreen, base)
$color-link: #039ee9